:root {
  /* schema 1 for redo */
  --redo-cobalt: #323232;
  --redo-light-gray: #f2f2f2;
  --light-text: #fff;
  --dark-text: #000;
}

html {
  scroll-behavior: smooth;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* margin: 88px 0 0 0; */
  margin: 0;

  /* font-family: "Inter", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--main-bg);
  text-align: left;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-weight: 100;
}

p {
  margin-top: 0;
}

button {
  outline: none;
}

.btn {
  font-weight: 700;
  display: inline-flex;
  min-width: 64px;
  align-items: center;
  justify-content: center;
  transition: 0 0.3s;
  height: 32px;
  font-size: 1.25rem;
  /* background: var(--purple); */
  border: transparent;
  border-radius: 20px;
  /* color: var(--white); */
  cursor: pointer;
}

.container,
.container-fluid,
.header-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.header-wrapper {
  background-color: var(--header-bg);
}

.header-container {
  max-width: 1360px;
}

.header-lg {
  font-size: 4rem;
  letter-spacing: 2.5px;
  line-height: 1.05;
  color: var(--header-text);
  font-weight: 400;
}
.header-md {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.sub-header {
  font-size: 1.875rem;
  line-height: 1.5;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dev-bdr {
  border: 1px solid black;
}
.dev-bdr-light {
  border: 1px solid white;
}

/* header section */
.header-wrapper {
  background-color: var(--redo-cobalt);
  position: fixed;
  top: 0;
  width: 100%;
}

header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 0;
  padding-left: 0;
}

header .name-email h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

header .name-email {
  margin-bottom: 1rem;
}

header .email-linkedin {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav a,
header a {
  color: var(--light-text);
}

nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav a:active {
  color: var(--light-text);
}

.burger-menu {
  display: none;
  position: fixed;
  top: 26px;
  right: 26px;
  z-index: 10;
}

.fa-bars {
  font-size: 2rem;
}

/* about section */
.about-wrapper {
  background-color: var(--redo-light-gray);
}

.about-me a {
  color: var(--dark-text);
}

.about-me img {
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 1.5rem;
}

.about-me .text-wrapper {
  padding-bottom: 50px;
}
.about-me .text-wrapper p {
  letter-spacing: 0.1rem;
  line-height: 2;
}

.about-me .text-wrapper h2 {
  text-align: right;
  margin-right: 50px;
}

/* facts section */
.facts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.facts .facts-icon {
  font-size: 1.7rem;
}

.facts ul {
  /* padding-left: 0; */
}

.facts li i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.facts .facts-segment {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 33%; */
}

.facts .facts-segment li {
  list-style: none;
  margin-bottom: 1rem;
}

/* projects section */
.projects-wrapper {
  margin-bottom: 50px;
}

.projects-wrapper .title {
  background-color: var(--redo-light-gray);
  padding: 20px 0px;
}

/* .project-cards-wrapper {
  padding: 0 15px;
} */

/* project card section */
.card-wrapper {
  display: flex;
}

.card-wrapper .img-wrapper,
.card-wrapper .text-wrapper {
  width: 100%;
}

.card-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
}

.card-wrapper .text-wrapper {
  background-color: var(--redo-cobalt);
  color: var(--light-text);
  /* padding: 50px; */
  min-height: 242px;
}

.card-wrapper .text-wrapper h3 {
  font-size: 2rem;
}

.card-wrapper .text-wrapper a {
  color: var(--light-text);
  /* text-decoration: none; */
}

.card-wrapper .text-wrapper h3,
.card-wrapper .text-wrapper p,
.card-wrapper .text-wrapper .links {
  margin: 20px 0px 10px 50px;
}

.card-wrapper .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-wrapper .links .link {
  width: 160px;
}

.links .link a .icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: var(--light-text);
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 1.25rem;
}

.links .link .icon-text:hover {
  color: var(--redo-cobalt);
  background-color: var(--light-text);
}

.links .link a {
  text-decoration: none;
}
.links .link a:hover {
  text-decoration: none;
}

/* .card-wrapper .links .link a span {
  padding: 4px 8px;
}

.card-wrapper .links .link a span:hover {
  background-color: var(--light-text);
  color: var(--redo-cobalt);

  border-radius: 8px;
}

.card-wrapper .links .link i {
  color: var(--light-text);
  border-radius: 50%;
  font-size: 30px;
}

.card-wrapper .links .link i:hover {
  cursor: pointer;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  color: var(--light-text);
  background-color: var(--redo-cobalt);
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

footer i {
  color: var(--light-text);
  border-radius: 50%;
}

footer i:hover {
  background-color: var(--light-text);
  color: var(--redo-cobalt);
}

.about-wrapper,
.facts-wrapper,
.projects-wrapper,
.profile-wrapper {
  padding-top: 88px;
}

@media (max-width: 1053px) {
}

@media (max-width: 825px) {
}

@media (max-width: 767px) {
  header,
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .desktop-nav {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .card-wrapper .img-wrapper,
  .card-wrapper .text-wrapper {
    height: 470px;
  }

  /* .card-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
  } */
}

@media (max-width: 716px) {
  .facts .facts-segment {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .facts .facts-segment ul {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .about-me img {
    width: 150px;
    margin-right: 1.15rem;
  }
}

@media (max-width: 300px) {
  .about-me img {
    width: 120px;
    margin-right: 1.15rem;
  }
}
