section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--white);
  text-align: left;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

button {
  outline: none;
}

.btn {
  font-weight: 700;
  display: inline-flex;
  min-width: 64px;
  align-items: center;
  justify-content: center;
  transition: 0 0.3s;
  height: 32px;
  font-size: 1.25rem;
  background: var(--purple);
  border: transparent;
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
}

.btn:active {
  background: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
  transition: 0s;
}

.container,
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.header-lg {
  font-size: 5rem;
  letter-spacing: -2.5px;
  line-height: 1.05;
}
.header-md {
  font-size: 3rem;
  letter-spacing: -2px;
}

.sub-header {
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-link {
  color: red;
}

.dev-border {
  border: 1px solid black;
}

/* nav component */
nav .nav {
  display: flex;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav li a {
  text-decoration: none;
}
